# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# editors
.vscode

# certificates
certificates


.env
.env.*
post_migrator.py

# Server
server/node_modulesOPENAI_API_KEY=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
firecrawl-responses-api/.env
